* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.navbar-brand {
  font-family: "Patua One", cursive;
}

.login-button {
  background-color: #2aa8f4 !important;
}

a {
  text-decoration: none !important;
}
